@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Noto+Sans+Math&family=Zeyada&display=swap');

:root {
    --apricot-default: #F6D7A7;
    --apricot-dark: #ffb648;
    --apricot-bright: #fff6e8;
    --yellow-default: #F6EABE;
    --yellow-dark: #ffe482;
    --yellow-bright: #fffae8;
    --pistachio-default: #C8E3D4;
    --pistachio-dark: #b6f0d0;
    --pistachio-bright: #dfebe4;
    --teal-default: #87AAAA;
    --teal-dark: #66acac;
    --teal-bright: #9eb1b1;
    /* font-family: 'Arima Madurai', cursive; */
    font-family: 'Noto Sans Math+++++++++++', sans-serif;
    /* font-family: 'Zeyada', cursive; */
}

#dashboard {
    background-color: var(--apricot-bright);
    background: linear-gradient(to top, var(--pistachio-default) 0%, var(--apricot-bright) 100%)
    /* background-image: url("../assets/hero.jpg"); */
    /* background-attachment: fixed;
    background-size: cover;
    background-position: center; */
}

#dashboard-text {
    background-color: var(--apricot-bright);
    opacity: 0.8;
    /* font-family: 'Noto Sans Math', sans-serif; */
}