/** @format */
@tailwind base;
@layer base {
    h1 {
        @apply text-6xl;
        @apply font-zeyada;
    }
    h2 {
        @apply text-4xl;
        @apply font-zeyada;
    }
    p {
        @apply font-noto;
    }
    /* Works on Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: #87aaaa;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        background: #b6f0d0;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #87aaaa;
        border-radius: 30px;
        border: 1px solid #b6f0d0;
    }
}
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'noto';
    src: url('../src/assets/font/text/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'zeyada';
    src: url('../src/assets/font/header/Zeyada-Regular.ttf');
}

main {
    min-height: calc(100vh - 8.5rem)
}